
.icon-mail-circled:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-globe-1:before { content: '\e803'; } /* '' */
.icon-website-circled:before { content: '\e804'; } /* '' */
.icon-ticket:before { content: '\e805'; } /* '' */
.icon-ticket-1:before { content: '\e806'; } /* '' */
.icon-video:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\e808'; } /* '' */
.icon-video-1:before { content: '\e809'; } /* '' */
.icon-star-circled:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-star-1:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-info-circled-1:before { content: '\e80e'; } /* '' */
.icon-wine:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-user-woman:before { content: '\e811'; } /* '' */
.icon-child:before { content: '\e812'; } /* '' */
.icon-headphones:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e814'; } /* '' */
.icon-eye:before { content: '\e815'; } /* '' */
.icon-pencil:before { content: '\e816'; } /* '' */
.icon-mic:before { content: '\e817'; } /* '' */
.icon-trophy:before { content: '\e818'; } /* '' */
.icon-asl:before { content: '\e819'; } /* '' */
.icon-food:before { content: '\e81a'; } /* '' */
.icon-money:before { content: '\e81b'; } /* '' */
.icon-emo-sunglasses:before { content: '\e81c'; } /* '' */
.icon-hourglass:before { content: '\e81d'; } /* '' */
.icon-stopwatch:before { content: '\e81e'; } /* '' */
.icon-coffee-1:before { content: '\e81f'; } /* '' */
.icon-home:before { content: '\e820'; } /* '' */
.icon-eye-1:before { content: '\e821'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-imdb:before { content: '\f2d8'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */